@font-face {
	font-family: Inter;
	src: url("./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

* {
	font-family: Inter ;
	margin: 0;
	overflow: -moz-scrollbars-vertical;
	background-color: #1e1e1e;
	/* color: #b7bec7; */
}

.link {
	text-decoration: none;
	color: inherit;
}

.App {
	padding: 1rem 2rem;
}
